.App {
  text-align: center;

}

body {
  background-image: url("./assets/weather-header.jpg");
  background-size: cover;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.header-bg{
  background-color: #7a9febbd;
  min-height: 150px;
  display: flex;

  align-items: center;
  justify-content: center;
  font-size: 53px;
  color: rgb(116, 44, 44);
}
